.home-content {
  section {
    padding: 40px 20px;

    .sub-section {
      max-width: var(--main-width);
      margin: 0 auto;
    }
  }
}

.h-title {
  line-height: 36px;
  color: var(--main-text-color);
  letter-spacing: 0.2px;
}

.hp {
  color: var(--main-text-color);
  margin: 0 !important;
}
